.VideographyContainer {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
    display: flex;
    align-items: center;

}

.CardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.VideographyTitleContainer {
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

.VideographyTitleText {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    color: white;
}

.VideographyCard {
    display: flex;
    width: 376px;
    height: 376px;
    background-color: white;
    border-radius: 25%;
    margin: 30px;

}

.ExpandedVideographyCard {
    display: flex;
    width: 800px;
    height: 450px;
    background-color: white;
    border-radius: 30px;
    margin-top: 5%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inBetween {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    height: min-content;
}

.ExpandedVideographyCardCover {
    margin-right: 30px;
    display: flex;
    width: 250px;
    height: 350px;
    background-color: grey;

}

.ExpandingVideographyCardProjContainer {
    display: flex;
    justify-content: start;
    flex-direction: column;
    max-width: 200px;
    margin-top: 30px;
}

.ExpandingVideographyCardProjTitleText {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
    text-align: end;
}

.ExpandingVideographyCardProjTitleSubText {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: start;
    margin-bottom: 10px;
}

.ExpandingVideographyCardProjDescText {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
}

.textContainerDesign{
    display: flex;
    flex-direction: column;
    height: 350px;

}
.overProjContainer{
    display: flex;
    flex-direction: row;
}


.ExpandingVideographyCardProjTitleContainer {
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

.CloseIconHolder{
    position: relative;
    display: inline-block;
    bottom: 190px;
    right: 20px;
    height: fit-content;
    width: fit-content;


}

.closeIcon{
    display: block;
    font-size: 2.5rem !important;
}