.pageStyle{
    background-color: white;
}

.pageContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.NameContainer{
    display: flex;
    margin-top: 90px;
}

.SubtitleContainer{
    display: flex;
    margin-top: 30px;
}

.LinksContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10pc;
}

.LinkText {
    padding: 50px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.SubtitleText{
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 100;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}



.NameTitleText{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 128px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}